<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}symCommerce{% endblock %}</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    {% block stylesheets %}{% endblock %}
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="{{ path('home') }}">symCommerce</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('home') }}">Accueil</a>
                        </li>
                        {% if app.user %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                    Ajouter
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ path('category_new') }}">Catégorie</a>
                                    <a class="dropdown-item" href="{{ path('product_new') }}">Produit</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('basket') }}">
                                    Panier ({{ basket_service.basketNumberOfItems }})
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('basket_list') }}">Commandes</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('register') }}">Inscription</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            {% if app.user %}
                                <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                            {% else %}
                                <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                            {% endif %}
                        </li>
                        <li class="nav-item">
                            <form action="{{ path('product_search') }}" method="get">
                                <input type="text" name="value" class="form-control"
                                       placeholder="Produit à rechercher" required>
{#                                <button type="submit" class="btn btn-primary">Rechercher</button>#}
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    {% for label, messages in app.flashes %}
        <div class="container mt-2">
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

    {% block body %}{% endblock %}

</div>
{% block javascripts %}{% endblock %}
</body>
</html>
